<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/site/layout-home}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="/site/fragments/just-navbar"></div>

        <!-- Cart Start -->
        <div class="container-fluid pt-5">
            <div class="row px-xl-5">
                <div class="col-lg-8 table-responsive mb-5">
                    <table class="table table-bordered text-center mb-0">
                        <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody class="align-middle">
                        <th:block th:each="c : ${carts}">
                            <tr th:id="product+${c.productId}">
                                <td class="align-middle" th:text="${c.productName}">
                                    <img th:src="@{/site/img/proc/{image}(image=${c.image})}"
                                         alt="" style="width: 50px;"></td>
                                <td class="align-middle" th:text="${c.price}"></td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" >
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary
                                        text-center" th:value="${c.quantity}"
                                               th:onblur="updateCart(this, [[${c.productId}]])">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle" th:text="${c.total}"></td>
                                <td class="align-middle">
                                    <button class="btn btn-sm btn-primary"th:onclick="deleteCart([[${c.productId}]])">
                                        <i class="fa fa-times"></i></button></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <form class="mb-5" action="">
                        <div class="input-group">
                            <input type="text" class="form-control p-4" placeholder="Coupon Code">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Apply Coupon</button>
                            </div>
                        </div>
                    </form>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Tổng tiền sản phẩm</h6>
                                <h6 class="font-weight-medium" th:text="${totalCars}"></h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">0</h6>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Tổng tiền</h5>
                                <h5 class="font-weight-bold" th:text="${totalCars}"></h5>
                            </div>
                            <a th:href="@{/checkout}" class="btn btn-block btn-primary my-3 py-3">Bắt đầu thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->
    </div>
</body>
</html>