<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">Danh sách tài khoản</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="property">
                                            <option selected="selected">Vai trò</option>
                                            <option value="cus">Khách hàng</option>
                                            <option value="ad">Admin</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <div class="rs-select2--light rs-select2--sm">
                                        <select class="js-select2" name="time">
                                            <option selected="selected">Ngày tạo</option>
                                            <option value="">Mới nhất</option>
                                            <option value="">Cũ nhất</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                    </div>
                                    <button class="au-btn-filter">
                                        <i class="zmdi zmdi-filter-list"></i>Lọc</button>
                                </div>
                                <div class="table-data__tool-right">
                                    <div class="rs-select2--dark rs-select2 rs-select2--dark2">
                                        <form class="input-group mb-3" th:action="@{/administration/accounts/search}"
                                              method="post">

                                            <input type="text" name="keyword"
                                                   class="form-control" placeholder="Nhập tài khoản muốn tìm">
                                            <div class="input-group-append">
                                                <button class="au-btn au-btn-icon au-btn--green au-btn--small"
                                                        type="submit">Tìm kiếm</button>
                                            </div>
                                        </form>
                                    </div>
                                    <a th:href="@{/administration/accounts/addOrEdit?collection=add}"
                                            class="au-btn au-btn-icon au-btn--green au-btn--small" style="color: white;">
                                        <i class="zmdi zmdi-plus"></i>Thêm mới</a>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>email</th>
                                        <th>username</th>
                                        <th>ngày tạo</th>
                                        <th>vai trò</th>
                                        <th>số điện thoại</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="item : ${accounts}">
                                        <tr class="tr-shadow">
                                            <td th:text="${item.fullname}"></td>
                                            <td>
                                                <span class="block-email" th:text="${item.email}"></span>
                                            </td>
                                            <td class="desc" th:text="${item.username}"></td>
                                            <td th:text="${item.registerDate}"></td>
                                            <td>
                                                <span class="status--process">Khách hàng</span>
                                            </td>
                                            <td th:text="${item.phone}"></td>
                                            <td>
                                                <div class="table-data-feature">
                                                    <a th:href="@{/administration/accounts/addOrEdit?username={username}&collection=update(username=${item.username})}"
                                                       class="item" data-toggle="tooltip" data-placement="top"
                                                       title="Edit"><i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <button class="item" data-toggle="tooltip"
                                                            data-placement="top" title="Delete">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <button class="item" data-toggle="tooltip"
                                                            data-placement="top" title="More">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="spacer"></tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center"> <br>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary"> 1 </button>
                                <button type="button" class="btn btn-secondary"> 2 </button>
                                <button type="button" class="btn btn-secondary"> 3 </button>
                            </div>
                        </div>
                    </div>
                    <div th:replace="/admin/fragments/footer"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>